@import url(//fonts.googleapis.com/css?family=Vibur);

* {
  user-select: none;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#status-container[data-type="invisible"] {
  display: none;
  visibility: hidden;
  opacity: 0;
}

#status-container[data-type="invisible"] * {
  visibility: hidden;
}

#status-container[data-type="visible"] {
  display: block;
  position: relative;
  margin-block: 5rem;
  text-align: center;
  visibility: visible;
  opacity: 1;
}

#status-container[data-type="visible"] * {
  visibility: visible;
}

#status {
  min-height: 1.5em;
  color: #ddd;
  margin: 1rem;
  text-shadow: 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444;
}

#status-body {
  max-width: 500px;
  line-break: anywhere;
  color: #ddd;
  text-align: center;
  margin: 1rem auto;
  padding-inline: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: text;
}

html,
body {
  background-color: #0b132b;
  height: 100%;
}

header {
  margin-bottom: 20px;
  background-color: #1c2541;
  box-shadow: 0 0 20px 4px rgba(255, 68, 68, 0.4);
  margin-bottom: 10vh;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

input[type="text"],
input[type="password"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #788799;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

div[data-type="invisible"] {
  display: none;
}

div[data-type="visible"] {
  visibility: visible;
  position: absolute;
  margin: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%) translateY(-5rem);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-3 {
  margin: 3rem;
}

.modal {
  display: flex;
  width: 60vw;
  max-width: 400px;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px 4px rgba(255, 68, 68, 0.4);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
}

.modal > h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
  margin: 0 0 2rem 0;
}

.input-holder {
  display: block;
  float: left;
  position: relative;
  margin-block: 1rem;
}

.input-field ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ff4444;
  box-shadow: none;
  transition: 0.4s;
}

.input-field {
  border: 0;
  padding: 7px 0;
  outline: none;
  background-color: #0b132b;
  border-bottom: 1px solid #ccc;
}

.input-field:focus ~ .focus-border {
  width: 100%;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444;
  transition: 0.4s;
  left: 0;
}

.logo {
  text-align: center;
  width: 65%;
  height: 100%;
  margin: 0 auto;
}

.logo * {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo b span {
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
  animation: blink linear infinite 4s;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  margin-block: 1rem;
  font-size: 0.9rem;
  color: #788799;
  padding: 0;
}

.styled-checkbox + label:before {
  content: "";
  margin: 0 0.5rem;
  display: inline-block;
  vertical-align: text-top;
  border-radius: 1rem;
  width: 17px;
  height: 17px;
  background-color: #788799;
}

.styled-checkbox:not(:checked):hover + label:before {
  background-color: #ff4444;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444;
}

.styled-checkbox:focus + label:before {
  background-color: #788799;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background-color: #ff4444;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  margin: 0 0.5rem;
  left: 4px;
  top: 4px;
  background: white;
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
  border-radius: 50%;
  box-shadow: 0 0 2px #ff4444 inset;
}

.input-button {
  color: rgba(150, 68, 68, 1);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #0b132b;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  transition: 0.4s;
}

.input-button:hover,
.input-button:focus {
  color: #2c3e50;
  background-color: #ff4444;
  box-shadow: 0 0 60px #ff4444, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444;
}

.input-button:active {
  color: #b8b8b8;
  background-color: #ff4444;
  box-shadow: 0 0 50px, 0 0 60px #ff4444, 0 0 0.5em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444;
}

.wave {
  width: 2px;
  height: 2rem;
  margin: 4px;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.no-wave {
  width: 92px;
  height: 2px;
  margin: calc(1rem - 2px) 4px;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444;
  animation: inc 0.25s linear;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

.simple-btn {
  color: #fff;
  margin: 20px;
  width: max-content;
  height: 40px;
  padding: 10px 25px;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 500;
  font-size: medium;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-neon {
  color: #ff4444;
  border: 1px solid #ff4444;
  box-shadow: 0 0 5px #ff4444, 0 0 5px #ff4444 inset;
  z-index: 1;
}

.btn-neon:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #ff4444;
  box-shadow: 0 0 20px #ff4444;
  transition: all 0.2s ease;
}

.btn-neon:hover {
  color: #fee;
}

.btn-neon:hover:after {
  left: 0;
  width: 100%;
}

.btn-neon:active {
  top: 2px;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes inc {
  0% {
    width: 0px;
  }
  100% {
    width: 92px;
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
